
{{#block "header"}}
<!doctype html>
<html lang="en">
    <head>
        <title>{{#block "title}}Welcome to Course Ideas{{/block}}</title>
    </head>
    <body>
{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}
    </body>
</html>
{{/block}}