
<!doctype html>
<html lang="en">
    <head>
        <title>Course Idea - {{ idea.title }}</title>
    </head>
    <body>
        
        {{#if flashMessage}}
            <p id='flash-message'> {{ flashMessage }}</p>
        {{/if}}
        <h1>{{ idea.title }}</h1>
        <h2>{{ idea.voteCount }} Voters</h2>
        
        <ul>
            {{#each idea.voters}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
        
        <form action="/ideas/{{ idea.slug }}/vote" method="post">
            <button>Vote</button>
        </form>
    </body>
</html>
