
<!doctype html>
<html lang="en">
    <head>
        <title>Hello Students</title>
    </head>
    <body>
        
        {{#if flashMessage}}
            <p id='flash-message'> {{ flashMessage }}</p>
        {{/if}}
        <h1>Current Ideas</h1>
        
        <ul>
            {{#each ideas}}
            <li>
                <form action="/ideas/{{ slug }}/vote" method="post">
                    <a href="/ideas/{{ slug }}">{{ title }}</a>( {{ voteCount }} votes) <button>Vote</button>
                </form>
            </li>
            {{/each}}
        </ul>
        
        <form action="/ideas" method="post">
            <input type="text" placeholder="What's your idea?" name='title'>
            <button>Suggest</button>
        </form>
    </body>
</html>